doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://design-docs.trexcloud.com/css/nimatron.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/purs-dist/main.js")
